@media screen and (min-width: 800px){
    .polar-area{
        height: 700px;
        width: 700px;
        margin: auto;
    }

    .pie-chart{
        height: 700px;
        width: 700px;
        margin: auto;
    }
}